/* Base class for Caroussel */
.Caroussel--wrapper {
    padding: 0 37px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    width: calc(100% - 74px);
    gap: 18px;
    margin-bottom: 30px;
}
