.AirBnBExperiences--wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    min-height: fit-content;
}

.AirBnBExperiences--wrapper header {
    height: 74px;
    margin-bottom: 26px;
}
