/* Base class for Gallery */
.Gallery--wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    gap: 9px;
    margin-bottom: 32px;
    justify-content: end;
    align-items: start;
}

.Gallery--wrapper > div {
    flex: 0 1 calc(20% - 9px);
}

.Gallery--wrapper > div:nth-child(1) {
    margin-top: 2%;
}

.Gallery--wrapper > div:nth-child(3) {
    margin-top: 2%;
}

.Gallery--wrapper > div:nth-child(5) {
    margin-top: 10%;
}

.Gallery--wrapper > div:nth-child(6) {
    margin-top: -8%;
}

.Gallery--wrapper > div:nth-child(7) {
    margin-top: -10%;
}

.Gallery--wrapper > div:nth-child(8) {
    margin-top: -8%;
}

.Gallery--wrapper > div:nth-child(9) {
    margin-top: -10%;
}
